@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url(responsive.css);
/*body*/
/*{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Noto+Serif+SC',sans-serif;*/
/*    background: url(bg.jpg);*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    background-size:cover;*/
/*    background-position:center;*/
/*    box-sizing: border-box;*/
/*}*/
header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo
{
    float:left;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    padding: 0 20px;
    color: rgba(6, 25, 147, 0.75);
    font-weight: 700;
    text-decoration: none;
}
nav
{
    float:right;
}
.clear
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #612e94;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li
    {
        margin: 0;
        text-align: center;
    }
}